/* --------- Global style */
body {
    background-color: #b7cad1;
    font-family: "Raleway", sans-serif;
    text-align: center;
}

/* --------- Heading */
.heading {
    text-align: center;
    font-size: 2.5rem;
}

#card-area {
    background-color:bisque;
    box-sizing: border-box;
}

#results-area {
    width: 50%;
    height: 100px;
    padding: 75px;
    align-content: center;
    margin: 2.5% auto;
    border: rgb(199, 100, 43) solid 5px;
}

.btn {
    width: 160px;
    height: 160px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: large;
    color: black;
}

button {
    width: 220px;
    height: 60px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: black;
    font-weight: bolder;
    border: rgb(199, 100, 43) solid 2.5px;
    padding: 1%;
    margin: 3%;
    cursor: pointer;
    outline: none;
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_buttons_animate3 */
button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
} 

/*
#player {
    margin-right: 470px;
}
*/

/*
.game-area {
    background-color: #E6ECF0;
    box-sizing: border-box;
    border: rgb(199, 100, 43) solid 5px;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}
*/

/*
#computer {
    margin-left: 470px;
}
*/

/*
#player-screen {
    background-color: white;
    border: rgb(199, 100, 43) solid 5px;
    width: 250px;
    height: 250px;
    float: left;
    text-align: center;
    font-size: 2.5em;
    
/*  
    position: relative;
    margin: -15px 30px;
    padding: 1%;
    
}
*/

/*
#versus {
    position: absolute;
    margin-top: 100px;
    margin-left: 370px;
    font-size: 1.5em;
    font-weight: bold;
}
*/

/*
#computer-screen {
    background-color: white;
    border: rgb(199, 100, 43) solid 5px;
    width: 250px;
    height: 250px;
    float: right;
    text-align: center;
    font-size: 2.5em;

/*
    position: absolute;
    top: 200px; right: 400px;
    padding: 1%;
    
}
*/

/*
table {
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1%;
}

table th, tr, td {
    padding: 15px 12px;
    border: solid rgb(199, 100, 43) 1.5px;
}
*/
